{% extends 'base.html.twig' %}

{% block header %}<h1 class="title text-center">Symfony-3 Test Tasks</h1>{% endblock %}
{% block content %}
    <h4 class="text-center">
        <a class="btn btn-primary btn-lg btn-block" href="{{ path('goods') }}">Select Goods by PriceTypeId=1</a>
    </h4>
{% endblock %}
